.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.App-filebrowser {
  grid-column: 1;
  grid-row: 1 / 5;
}

.App-header {
  grid-column: 1 / 10;
  grid-row: 1;
  background-color: #222;
  color: white;
}

.App-body {
  grid-column: 2 / 10;
  grid-row: 2 / 5;
}

.App-drawer{
  grid-column: 1 / 10;
  grid-row: 5;
  background-color: #222;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
